@page
@using Domain.Models.Enum;
@model SheduleMatchWeb.Pages.Clubs.President.AddBranchModel
@{
}
<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="Nazwa" class="form-label">
                    Klub
                </label>
                <input id="Nazwa" type="text" class="form-control" asp-for="Club.Name" readonly/>
            </div>
            <label class="form-label">
                Wybierz typ drużyny
            </label>
            <div class="form-group">
                <select asp-for="Branch.Type" asp-items="@Html.GetEnumSelectList<BranchType>()" class="form-control"></select>
                <span asp-validation-for="Branch.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="UserId" class="form-label">Wybierz trenera</label>
                <select class="form-select" aria-label="Default select example" asp-for="Branch.UserId" asp-items="@(ViewData["Coaches"] as IEnumerable<SelectListItem>)"></select>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-dark">
                    Dodaj
                </button>
            </div>
        </form>
    </div>
</div>