@page
@model SheduleMatchWeb.Pages.AccessDeniedModel
@{
}

<style>
    body {
        background-color: #f8f9fa;
        color: #343a40;
    }

    .container {
        text-align: center;
        border-radius: 5px;
    }

    h1 {
        color: #dc3545;
    }
</style>

<div class="container">
    <h1>Brak uprawnień!</h1>
    <p>Nie posiadasz uprawnień do przeglądania tego elementu.</p>
</div>
