@page
@model SheduleMatchWeb.Pages.CalendarModel
@{
}

<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalednar/2.6.1/fullcalendar.min.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="row">

        </div>
    </div>
</body>

</html>