@page "{id:int}"
@model SheduleMatchWeb.Pages.Clubs.Coach.PlanMatchWithoutPitchModel
@{
}

<div>
    <div class="container">
        <form method="post">
@*            <div class="mb-3">*@             
@*            <label class="form-label">
                Wybierz przeciwko jakiemu klubowi chcesz rozegrać spotkanie
            </label>
            <div class="form-group">
                <select class="form-select" aria-label="Default select example" asp-for="matchRequest.ReceiverId" asp-items="@(ViewData["Branches"] as IEnumerable<SelectListItem>)"></select>
                <span asp-validation-for="matchRequest" class="text-danger"></span>
            </div>*@
            <div class="mb-3">
                <label for="Data" class="form-label">
                    Podaj date rozpoczęcia meczu
                </label>
                <input id="DateTime" type="datetime-local" class="form-control" asp-for="matchRequest.Date" />
           </div>
            <div>
                <button type="submit" class="btn btn-dark">
                    Zaproponuj spotkanie
                </button>
            </div>
        </form>
    </div>
</div>