@using Domain.Models.Domain;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlanerSparingów</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SheduleMatchWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PlanerSparingów</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    @if(signInManager.IsSignedIn(User) && User.IsInRole("Coach"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdownAdmin">
                                Mój klub
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                                <li>
                                    <a class="dropdown-item" href="/clubs/myclub">
                                        Profil klubu
                                    </a>
                                    <a class="dropdown-item" href="/Clubs/BranchClubs/MyBranchClub">
                                        Profil drużyny
                                    </a>
                                </li>
                            </ul>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdownAdmin">
                                Moje mecze
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                                <li>
                                    <a class="dropdown-item" href="/clubs/myclub">
                                        Rozegrane mecze
                                    </a>
                                    <a class="dropdown-item" href="/Clubs/Coach/ScheduledMatches">
                                        Zaplanowane mecze
                                    </a>
                                    <a class="dropdown-item" href="/Clubs/Coach/MatchPropositions">
                                        Propozycje meczów
                                    </a>
                                    <a class="dropdown-item" href="/Matches/MyScheduleMatch">
                                        Odrzucone prośby o mecz
                                    </a>
                                        <a class="dropdown-item" href="/Clubs/Coach/BranchesForPlanMatch">
                                        Zaplanuj nowy mecz
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else if(signInManager.IsSignedIn(User) && User.IsInRole("President"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdownAdmin">
                                Mój klub
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                                <li>
                                    <a class="dropdown-item" href="/clubs/myclub">
                                        Profil klubu
                                    </a>
                                    <a class="dropdown-item" href="/Clubs/President/MyBranches">
                                        Wszystkie drużyny
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdownAdmin">
                                Moje mecze
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                            <li>
                                    <a class="dropdown-item" href="/clubs/myclub">
                                        Rozegrane mecze
                                    </a>
                                    <a class="dropdown-item" href="/Clubs/President/ScheduledMatches">
                                        Zaplanowane mecze
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    
                   
                        



                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Clubs/ShowAllClubs">Wszystkie kluby</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/AllBranches">Wszystkie zespoły</a>
                        </li>

                        @*@if(signInManager.IsSignedIn(User) && (User.IsInRole("President") || User.IsInRole("Coach")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdownAdmin">
                                    Mój klub
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                                    <li>
                                        <a class="dropdown-item" href="/clubs/myclub">
                                            Profil klubu
                                        </a>
                                        <a class="dropdown-item" href="/Matches/MyScheduleMatch">
                                            Rozegrane mecze
                                        </a>
                                        @if (User.IsInRole("Coach"))
                                        {
                                            <a class="dropdown-item" href="/Clubs/BranchClubs/MyBranchClub">
                                                Moja drużyna
                                            </a>
                                            <a class="dropdown-item" href="/Clubs/Coach/ScheduledMatches">
                                                Zaplanowane mecze
                                            </a>
                                            <a class="dropdown-item" href="/Clubs/Coach/MatchPropositions">
                                                Propozycje meczów
                                            </a>
                                            <a class="dropdown-item" href="/Clubs/Coach/BranchesForPlanMatch">
                                                Zaplanuj nowy mecz
                                            </a>
                                        }
                                        
                                        @if (User.IsInRole("President"))
                                        {
                                            <a class="dropdown-item" href="/Clubs/President/MyBranches">
                                                Moje drużyny
                                            </a>

                                            <a class="dropdown-item" href="/Clubs/President/AddBranch">
                                                Dodaj nowy drużynę
                                            </a>
                                        }
                                        
                                    
                                </li>
                            </ul>
                            </li>
                        }*@
                        @*@if (User.IsInRole("President"))
                        {
                       
                        }*@



                    </ul>
                </div>
            </div>
            <div class="d-flex align-items-center">
                @if (signInManager.IsSignedIn(User))
                {
                    <div class="me-3 text-light">
                        @User?.Identity?.Name
                    </div>
                    <a href="/logout" class="btn bg-light text-dark me-3">Wyloguj się</a>
                }
                else
                {
                    <a href="/login" class="btn bg-light text-dark me-3">Zaloguj się</a>
                    <a href="/register" class="btn bg-light text-dark">Zarejestruj się</a>
                }
                
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SheduleMatchWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>