@page
@model SheduleMatchWeb.Pages.Account.LoginModel
@{
}

@{
    var messageValidation = (string)ViewData["MessageValidation"];
}

@if (!string.IsNullOrWhiteSpace(messageValidation))
{
            <div class="container mb-5">
                <div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">
            @Html.Raw(messageValidation)
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

          </div>

}
@*<partial name="Notification">
*@
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="form-group-row">

        
        <div class="form-group-row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Zaloguj się!" />
            </div>
        </div>
    </form>
</div>

